#About{
    width: 100%;
    
    .text-banner{
        padding-bottom: 10px;

        @media (max-width:768px) {
            padding-bottom: 20px;
        }
    }

    .aboutTitle{
        margin-top: 60px;
        font-weight: bolder;
        position: relative;
        width: fit-content;
        background: linear-gradient(#EFFCEF, #EFFCEF) padding-box,
        linear-gradient(to right, transparent, #94D3AC, transparent) border-box;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
    }

    /*-----------------------------------------------------------------------------flipcard-----------------------------------------------------------------------------*/

    .flippable-card-container{
        height: 450px;
        width: 400px;
        perspective: 1000px;
        margin-top: 60px;

        @media (max-width:1399px) {
            height: 350px;
            width: 350px;    
        }

        @media (max-width:991px) {
            height: 300px;
            width: 300px;    
        }

        @media (max-width:768px) {
            height: 300px;
            width: 260px;
            margin-top: 20px;
        }

        
        .card {
            /* Sizing */
            height: 100%;
            width: 100%;
            
            transform-style: preserve-3d;
            
            /* Content Alignment */
            position: relative;
            
            /* Styling */
            border-radius: 10px;
            border: 2px solid #655c5670;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
            
            user-select: none;
            cursor: pointer;

            .textCard{
                padding-bottom:20px;
            }

            .card-front1,.card-front2,.card-front3,
            .card-back {
                /* Sizing */
                height: 100%;
                width: 100%;
            
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            
                /* Alignment */
                position: absolute;
            
                /* Content Alignment */
                display: flex;
                justify-content: center;
                align-items: center;
            
                /* Content Styling */
                font-weight: 9  00;
                font-size: 60px;
                color: white;
                border-radius: 7px;
            }
            
            .card-front1{
                background-image: url(../../Pages/Assets/img/cibertec.avif);
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                transition: all 0.3s;

                &:hover::after{
                    transform: translateY(0);
                }
            }
            
            .card-front2{
                background-image: url(../../Pages/Assets/img/yo.png);
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.3s;
                overflow: hidden;

                &:hover::after{
                    transform: translateY(0);
                }
            }
            
            .card-front3 {
                background-image: url(../../Pages/Assets/img/idiomas.webp);
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.3s;
                overflow: hidden;

                &:hover::after{
                    transform: translateY(0);
                }
            }

                .card-front1::after{
                    content: "Estudios";
                    background-color: #655c5641;
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    transition: transform .3s;
                    transform: translateY(100%);
    
                }

                .card-front2::after{
                    content: "Personal";
                    background-color: #655c5641;
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    transition: transform .3s;
                    transform: translateY(100%);
    
                }

                .card-front3::after{
                    content: "Idiomas";
                    background-color: #655c5641;
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    transition: transform .3s;
                    transform: translateY(100%);
    
                }
            
            .card-back {
                background-color: #EFFCEF;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23CCEDD2' stroke-width='1.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2394D3AC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
                width: 100%;
                overflow: hidden;
                transform: rotateY(180deg);
                padding: 10px;

                @media (min-width:1024px) {
                    padding: 25px;
                }

                .card-back-content{
                    margin: 0;

                    @media (max-width:425px) {
                        margin-bottom: 0;
                    }
                }

                .card-back-title{
                    font-weight: bold;
                    padding-bottom: 10px;
                    position: relative;
                    color: #2b6140;

                    @media (max-width:425px) {
                        padding-bottom: 8px;
                        font-size: 22px;
                    }

                    @media (max-width:768px) {
                        padding-bottom: 8px;
                        font-size: 24px;
                    }

                    @media (min-width:769px) {
                        padding-bottom: 8px;
                        font-size: 28px;
                    }
                    
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0%;
                        transition: all 0.5s;
                        border-style:solid;
                        border-image-slice: 1;
                        border-width: 2px;
                        border-radius: 50px;
                        border-image-source: linear-gradient(to left, transparent, #CCEDD2, #94D3AC, #CCEDD2 , transparent);
                        opacity: 1;
                        width: 100%;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }
                }
            }          
        }         
    }

    //Flip transition

    .flip-exit {
        transform: rotateY(0deg);
    }

    .flip-exit-active {
        transform: rotateY(180deg);
        transition: transform 300ms;
        transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
    }

    .flip-exit-done {
        transform: rotateY(180deg);
    }

    .flip-enter {
        transform: rotateY(180deg);
    }

    .flip-enter-active {
        transform: rotateY(0deg);
        transition: transform 300ms;
        transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
    }

    .flip-enter-done {
        transform: rotateY(0deg);
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}