#footer{
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;

    .socialMedia{
        padding-top: 15px;
        a{
            img{
                width: 60px;
                padding: 5px;
                transition: all 0.4s;
            }

            .gitlab, .linkedin{
                margin-right: 25px;
            }

            img:hover{
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                -moz-transform: scale(1.15);
                -ms-transform: scale(1.15);
                -o-transform: scale(1.15);
}
        }
    }
}