#Home{
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (min-width:1200px) {
        height: 91vh;
    }

    @media (max-width:1199px) {
        height: 75vh;
    }

    @media (max-width:1023px) {
        height: 65vh;
    }

    @media (max-width:768px) {
        height: 48vh;
    }

    @media (max-width:425px) {
        height: 25vh;
    }

    .homeContainer{
        height: 100%;
        overflow: hidden;

        .parallaxContainer{
            overflow: hidden;
        }

        .contentWrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            z-index: 10;
            position: relative;
        }

        .Parallax{
            width: 100vw;
            position: absolute;
            left: 0;
            top: 0;
        }

        .Parallax2{
            width: 100vw;
            position: absolute;
            right: 0;
            top: 0;
        }

        .parallaxContainer img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            pointer-events: none;
        }



        .presentation{
            text-align: center;
            font-size: 60px;
            margin: auto;
            padding-bottom: 30px;
            font-weight: bold;

            @media (max-width:991px) {
                width: 100%;
                font-size: 35px;
                padding-bottom: 20px;
            }
        }

        .iconDown{
            animation: bounce 5s infinite linear;

            @media (min-width:1024px) {
                margin-top: 60px;
                width: 60px;
                height: 60px;
            }
        
            @media (max-width:1023px) {
                margin-top: 75px;
                width: 50px;
                height: 50px;
            }
        
            @media (max-width:768px) {
                display: none;
            }

            @keyframes bounce {
                0%, 25%, 50%, 75%, 100% {
                    transform: translateY(0);
                }

                15%,40% {
                    transform: translateY(-20px);
                }

                65%, 80% {
                    transform: translateY(-15px);
                }

                95% {
                    transform: translateY(-5px);
                }
            }
        }
        
        .socialMedia{
            padding-top: 22px;
        
            .gitlab, .linkedin{
                margin-right: 50px;
            
            }

            .gitlab, .linkedin, .whatsapp{
            
                img{
                border: 2px solid black;
                transition: all 0.4s;

                    @media (min-width:1024px) {
                        width: 60px;
                        height: 60px;
                        padding: 5px;
                    }
                
                    @media (max-width:1023px) {
                        width: 50px;
                        height: 50px;
                        padding: 3px;
                    }
                
                    @media (max-width:768px) {
                        width: 40px;
                        height: 40px;
                        padding: 1px;
                    }
                }
        
                img:hover{
                    background-color:#effcef7e;
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
            }
        }
    }

}