#Navbar{
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #effcef;


    @media (max-width:768px) {
    background-color: #effcef;
    }

    .navbarContainer{
        margin: 0;
        padding: 25px 0px;

        .logoContainer{
            width: fit-content;
        
            .logo{
                width: 100px;
            }
        }

        .nameContainer{
            width: fit-content;
            padding-left: 10px;
            padding-top: 4px;
        
            span{
                margin: 0%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
            }
            
            .disapear {
                @media (max-width: 1199px) {
                display: none;
            }
            }

            span:hover{
                color: #94D3AC;
            }
        }

        .navigation{
            justify-content: flex-end;
            display: flex;
            font-size: 23px;
            padding-top: 4px;

            
            @media (max-width:768px) {
                padding-top: 70px;
                margin-top: 61px;
                display: none;
                height: 100vh;
                width: 100vw;
                background-color: #94D3AC;
                position: absolute;
                left: 0;
                justify-content: center;
        
                &.active{
                    display: flex;
                }

                &.burguerActive{
                    display: flex;
                    z-index: 100;
                }

            }

            .navList{
                margin: 0;
                display: flex;
                flex-direction: row;
                padding: 0;

                @media (max-width: 991px) {
                    padding-right: 0;
                }

                @media (max-width:768px) {
                    flex-direction: column;
                    justify-content: start;
                    display: none;
                }

                li{
                    list-style: none;
                    padding:0 10px;

                    @media (max-width:768px) {
                        margin-top:50px;
                        font-size: 50px;
                        text-align: center;
                        font-weight: 900;
                    }

                    @media (max-width:991px) {
                        padding:0px 3px;
                    }

                    a{
                        text-decoration: none;
                        color: #655C56;
                        transition: all 0.4s;
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -ms-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        position: relative;

                        @media (max-width:768px) {
                            color: white;
                        }
                    }

                    
                    a:hover{
                        color: #94D3AC;

                        @media (max-width:768px) {
                            color: white;
                        }
                    }

                    a::before , a::after{
                        content: "";
                        border-bottom: 2px solid #94D3AC;
                        position: absolute;
                        transition: all 0.2s;
                        opacity: 0;
                    }

                    a::before{
                        bottom: -1px;
                        left: 0;
                        width: 90%;
                    }

                    a::after{
                        bottom: -5px;
                        right: 0;
                        width: 60%;
                    }
                    .active::before,
                    a:hover::before{
                        opacity: 1;
                        width: 70%;
                    }
                    
                    .active::after,
                    a:hover::after{
                        opacity: 1;
                        width: 40%;
                    }

                    .active{
                        color: #94D3AC;

                        @media (max-width:768px) {
                            color: white;
                        }
                    }
                }


                .socialMedia{
                    padding-top: 20px;
                    a{
                        img{
                            display: none;
                            width: 60px;
                            padding: 5px;
                            transition: all 0.4s;
                            
                            @media (max-width:768px) {
                                display: flex;
                            }

                        }
        
                        .gitlab, .linkedin{
                            margin-right: 50px;
                        }
                    }
                }

            }
        }
    }

    .bars{
        width: 30px;
        cursor: pointer;
        display: none;
        justify-content: flex-end;
                
        @media (max-width:768px) {
            display: flex;
            position: absolute;
            z-index: 100;
            top:30%;
            right: 15%;
        }
    }
}
