#Proyectos{
    width: 100%;
    overflow: hidden;
    

    .proyectosTitle{
        margin-top: 60px;
        margin-bottom: 60px;
        font-weight: bolder;
        position: relative;
        width: fit-content;
        background: linear-gradient(#EFFCEF, #EFFCEF) padding-box,
        linear-gradient(to right, transparent, #94D3AC, transparent) border-box;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
    }

    .pokedexContainer{
        width: fit-content;
    }

    .imgProyect{
        width: 100%;
        border-radius: 20px;
        transition: all 0.3s;
        height: 100%;

        @media (max-width:1024px) {
            width: 90%;
        }

        @media (min-width:1025px) {
            width: 100%;
        }

        @media (max-width:768px) {
            width: 100%;
        }
    }

    .imgProyect:hover{
        transform: scale(1.015);
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.50);
    }

    .proyectTitle{
        text-align: center;
        margin-top: 30px;
        position: relative;
        width: fit-content;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .proyectTitle::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.5s;
        border-bottom: 2px solid #94D3AC;
        opacity: 0;
        width: 0%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .proyectTitle:hover::before{
        opacity: 1;
        width: 100%;
    }

    .textProyect{
        width: 75%;
        margin: auto;
        @media (max-width:768px) {
            width: 95%;
        }
    }

    .buttonProbar, .buttonCodigo{
        width: 160px;
        background-color: #CCEDD2;
        border: 1px;
        padding: 15px;
        margin: 15px;
        border-radius: 10px;
        transition: all 0.3s;
        border: 2px solid #94D3AC;
        border-style:groove;

        @media (max-width:425px) {
            margin: 5px;
            width: 130px;
            padding: 8px;
        }
        
        &:hover{
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -ms-transform: scale(1.03);
            -o-transform: scale(1.03);
        }
    }

    .rootStudio{
        @media (max-width: 991px){
            flex-direction: column-reverse;
            padding-bottom: 60px;
            position: relative;
            background: linear-gradient(#EFFCEF, #EFFCEF) padding-box,
            linear-gradient(to right, transparent, #94D3AC, transparent) border-box;
            border-bottom: 4px solid transparent;
            border-radius: 1px;
        }

        .rootProyect{
            align-items: center;
            display: flex;

            @media (min-width:1400px) {
                align-items: baseline;
                padding-top: 10px;
            }
        }
    }

    .pokeText{
        align-items: center;
        display: flex;

        @media (max-width: 991px){
            padding-bottom: 40px;
        }

        @media (min-width:1400px) {
            align-items: baseline;
            padding-top: 40px;
        }
    }
}