#skills{
    width: 100%;
    overflow: hidden;

    .skillsTitle{
        margin-top: 60px;
        margin-bottom: 60px;
        font-weight: bolder;
        position: relative;
        width: fit-content;
        background: linear-gradient(#EFFCEF, #EFFCEF) padding-box,
        linear-gradient(to right, transparent, #94D3AC, transparent) border-box;
        border-bottom: 4px solid transparent;
        border-radius: 1px;
    }

    .skillsWrapper{
        width: 100%;
        margin: auto;
        
        .svg{
            width: 81px;
            height: 81px;
            margin: 34px;
            transition: all 0.3s;

            @media (max-width:1400px) {
                width: 75px;
                height: 75px;
                margin: 17px;
            }

            @media (max-width:991px) {
                width: 70px;
                height: 70px;
                margin: 17px;
            }

            @media (max-width:768px) {
                width: 50px;
                height: 50px;
                margin: 15px;
            }
        }

        .svg:hover{
            transform: scale(1.1);

        }

        .skill{
            position: relative;
        }

        .skill::after{
            content: "";
            width: fit-content;
            position: absolute;
            left: 23%;
            top: 0%;
            border: 2px solid #94D3AC;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
            background-color: #CCEDD2;
            opacity: 0;
            transition: all 0.3s;
            transition-timing-function: ease-out;
        }

        .html::after{
            content: "HTML";
        }

        .css::after{
            content: "CSS";
            left: 28%;
        }

        .js::after{
            content: "JavaScript";
            left: 5%;
        }

        .react::after{
            content: "React.js";
            left: 16%;
        }

        .bootstrap::after{
            content: "Bootstrap";
            left: 10%;
        }

        .sass::after{
            content: "Sass";
            left: 26%;
        }

        .postman::after{
            content: "Postman";
            left: 14%;
        }

        .mysql::after{
            content: "MySql";
            left: 22%;
        }
        
        .node::after{
            content: "Node.js";
            left: 18%;
        }

        .gitlab::after{
            content: "Gitlab";
            left: 22%;
        }

        .java::after{
            content: "Java";
            left: 25%;
        }

        .skill::before{
            border: 5px solid transparent;
            border-top-color: #94D3AC;
            content: "";
            left: 50%;
            margin-left: -5px;
            position: absolute;
            top: 23%;
            opacity: 0;
            transition: all 0.3s;
            transition-timing-function: ease-out;
        }

        .skill:hover::after{
            opacity: 1;
            top: -10px;
        }

        .skill:hover::before{
            opacity: 1;
            top: 16%;
        }
    }
}